.addCard {
	position: relative;
	background-color: #091e420f;
	padding: 8px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	flex-shrink: 0;
}

.addCardTitle {
	font-size: 16px;
}

.cardFade {
	display: none;
}

@media (hover: hover) {
	.addCard:hover {
		cursor: pointer;
	}

	.addCard:hover .cardFade {
		display: block;
		position: absolute;
		background-color: #00000026;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
	}
}
