.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 45px);
}

.signupContent {
	max-width: 500px;
	min-width: 300px;
	width: 100%;
	padding: 20px;
}

.signupInputs {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.signupLink {
	text-decoration: underline;
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (hover) {
	.signupLink {
		cursor: pointer;
	}
}
