.container {
	min-width: 200px;
	min-height: 250px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.btns {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: auto;
}

.btns button {
	width: 100%;
}
