.workspacesTitle {
	align-items: center;
	display: flex;
	flex: 1;
	font-size: 16px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
}

.cardsWrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.contentHeader {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-block: 14px;
	text-transform: capitalize;
}
