.sidebarItem {
	display: flex;
	align-items: center;
	gap: 15px;
	min-height: 48px;
	justify-content: start;
	padding-inline: 15px;
}

.boardPreview {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	background-size: cover;
	background-repeat: no-repeat;
}
