.column {
	display: flex;
	flex-direction: column;
	gap: 6px;

	background-color: #f1f2f4;
	border: 1px solid #dfe0e4;

	padding: 4px 6px;

	width: 230px;
	height: fit-content;

	border-radius: 10px;
}

.taskCreator {
	display: inline-flex;
	flex-direction: column;
	gap: 2px;
	background: #1265e1;
	padding: 4px 6px;
	outline: transparent;
	border: transparent;
	border-radius: 4px;

	font-size: 16px;
	border: 1px solid #dfe0e4;

	color: #ffffff;
	order: 1;
}
.taskCreator::first-letter,
.taskCreatorBack::first-letter {
	text-transform: uppercase;
}
.taskCreatorBack {
	/* border-radius: 6px; */
	/* border: 1px solid #DFE0E4; */
	background-color: transparent;
	border: transparent;
	outline: transparent;

	display: flex;
	flex-direction: column;
	gap: 4px;
	order: 1;

	font-size: 18px;
}
.taskInput {
	width: 96%;
	height: 60px;
	line-height: 10px;
	padding: 4px;
	border-radius: 6px;
	background-color: #ffffff;
	border: 1px solid #dfe0e4;

	border: transparent;
	outline: transparent;

	resize: none;
}
.close {
	font-size: 24px;
	background-color: transparent;
	border: transparent;
	outline: transparent;
}

.task {
	padding: 8px 6px;
	background-color: #ffffff;
	border: 1px solid #dfe0e4;
	border-radius: 6px;
	width: 100%;
	display: block;
	text-align: start;
}

.taskLi {
	list-style-type: none;
}

.tasks {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
